:root {
  font-family: "Playpen Sans", serif;
  line-height: 1.5;
  font-weight: 400;
  /*background-color: #AB3DA7;*/
  background-image: url("/bakgrund_snoflingor_lila.png");
  background-repeat: repeat;

  @media screen and (min-width: 1600px) {   
      font-size: 24px;
  }
}

html, body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden;
}

main {
  flex-grow: 1; /*Gör att main fyller ut all ledig plats mellan header och footer*/
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}


/* --------------  VIKTIGT HA DENNA KVAR, DET GÖR ATT ÖGAT INTE SER KONSTIGT UT I INLOGGNINGEN I EDGE!!! --------------- */

input[type="password"]::-ms-reveal {
  display: none;  /* Döljer autofyllningens "ögon"-ikon i Edge */
}

input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none;  /* Döljer autofyllningens öga i Webkit-baserade webbläsare (som Chrome, Safari) */
}